h3{
    color: blue;
    margin-left: 100px;
    
}

p{
    color:blue;
    margin-left: 100px;
}

#cardBody{
    background-color: orange;
   
}

#mb3{
    width: 680px; 
    margin-left:0px;
    margin-right: 90px;
    
}



